.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-span {
  text-align: center;
  padding-right: 0;
  font-size: 20px;
  text-decoration: none;
}

.image {
  text-align: center;
  align-self: center;
  width: 400px;
  height: 30px;
  margin-left: 0;
  display: block;
}

.cell {
  text-align: left;
  display: block;
}

.cell-2 {
  text-align: center;
}

.text-block, .text-block-2 {
  width: 448.438px;
  height: 80px;
}

.cell-3 {
  font-size: 14px;
  display: block;
}

.body {
  max-width: 1405.33px;
  margin-left: 0;
  margin-right: 0;
}

#w-node-_6fcc2f04-b68e-71c3-ff5e-b0818e37e22f-c3ec96d4 {
  grid-template-rows: auto auto;
  grid-template-columns: .5fr 1fr;
}

#w-node-c62c617a-6372-16fe-1f9e-4afa63a2ffa4-c3ec96d4 {
  grid-row: span 2 / span 2;
}
